{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block sidebar %}
    Sidebar content
    {#<button id="subm_ajax"  type="submit" class="btn btn-default">Сохранить Ajax</button>#}
{% endblock %}
